/* Write your CSS code here */
.blog-item-container{
    display: flex;
    flex-direction: column;
    list-style-type: none;
}
.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post{
    color:#12022f;
    font-family: "Roboto";
    font-size:20px;
}
.date{
    color:#616e7c;
    font-family: "Roboto";
    font-size:20px;
}
.desc{
    color:#616e7c;
    font-family: "Roboto";
    font-size:18px;
}
.hr{
    width:75%;
    border:2px solid #9aa5b1;
}